spring:
  cloud:
    config:
      uri: http://config-server.default.learning.petclinic.com
  application:
    name: discovery-server
server:
  port: 8761
eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
---
spring:
  config:
    activate:
      on-profile: docker
  cloud:
    config:
      uri: http://config-server:8888
